header {
  background: linear-gradient(35deg, #1d4352, #22403D);
}

.hero__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  min-height: 95.5vh;
}
.hero__header h1,
.hero__header p {
  color: #ecebeb;
}

.hero__section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10rem;
}
@media screen and (min-width: 1124px) {
  .hero__section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.hero__text {
  padding: 3rem;
}
.hero__text h1 {
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (min-width: 1124px) {
  .hero__text h1 {
    text-align: left;
  }
}
.hero__text p {
  font-size: clamp(1rem, 4.5vw, 1.3rem);
}

.hero__button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  height: 15%;
  width: 100%;
  padding: 1rem;
}
.hero__button a {
  color: #ecebeb;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  padding: 1rem;
  text-decoration: none;
  border-radius: 2.5rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  height: 50%;
  width: 45%;
  font-size: 1.5rem;
  cursor: pointer;
}
.hero__button a:nth-last-child(1) {
  color: #0f2026;
  background-color: #F27A5E;
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__image img {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  width: 85%;
  border-radius: 1.5rem;
}

.hero__imgText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 16%;
  bottom: 29%;
  height: 8%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
}
.hero__imgText p {
  font-size: 1.5rem;
  color: black;
}

.hero__nav {
  background-color: #F27A5E;
  height: 8%;
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px 0px rgba(30, 42, 56, 0.08);
  position: fixed;
}
@media screen and (min-width: 1324px) {
  .hero__nav {
    width: 90%;
    margin-inline: 5%;
    margin-top: 0.7rem;
    border-radius: 1rem;
  }
}
.hero__nav .logo {
  text-align: left;
}
.hero__nav .logo a {
  color: #0f2026;
  text-decoration: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 5%;
}

.logo,
.menu {
  padding: 10px;
  flex-basis: 50%;
}

.hero__nav-small {
  height: 7%;
  margin-top: 0;
}

.menu span {
  align-items: center;
}
.menu .links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.menu .links a {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: #0f2026;
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 0.9rem;
  padding: 0;
  margin-right: 5%;
}
.menu li {
  display: inline;
}
.menu .social-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.menu .socials_circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: #0f2026;
}
.menu .socials_contact {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 60px;
  width: 120px;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #0f2026;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #0f2026;
}

html {
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-size: 10px;
}

section {
  min-height: 80vh;
}

.shell {
  width: min(100% - 2.5rem, 1450px);
  margin-inline: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
