@use '_variables.scss' as *;
@use '_mixins.scss' as *;
@use '_base.scss' as *;

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 1.5rem;
}

.about h2{
    text-align: left;
    font-size: 2rem;
}


.abtContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    @include mq ('l'){
        flex-direction: row;
    }
    // flex-wrap: wrap;
    // height: 100%;
    gap: 1rem;
    // padding: 1rem;

    h3{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
        max-width: 500px;
        // gap: 1rem;
    }

    h3,p{
        padding: 1.5rem;
        // background-color: yellow;
    }
}

.abtText2{
    display: flex;
    flex-wrap: wrap;
    // background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 1.5rem;
    // box-shadow: 0px 2px 10px 0px #000000;
    // border: 1px solid rgba(255, 255, 255, 0.3); 
    // padding: 1rem;

    h3{
        font-size: 1.2rem;
    }

    p{
        font-size: 1.2rem;
        // max-width: 500px;
    }

    h2,p{
        padding: 1.5rem;
    }
}

