@use '_variables.scss' as *;

html {
    scroll-behavior: smooth;
    font-family: "Kanit", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-size: 10px;
}

// main{
// //    background: linear-gradient(35deg, $color-navy-2, $color-navy);
// }

section {
    min-height: 100vh;
    &:nth-of-type(even){
        background-color: $color-gray;
    }

    &:nth-of-type(odd){
        background-color: $color-navy;
    }
}

.shell {
    width: min(100% - 2.5rem, 1450px);
    margin-inline: auto;
}

*,
::before,
::after {
    box-sizing: border-box;
}