@use '_variables.scss' as *;

html {
    scroll-behavior: smooth;
    font-family: "Kanit", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-size: 10px;
}

section {
    min-height: 80vh;
}

.shell {
    width: min(100% - 2.5rem, 1450px);
    margin-inline: auto;
}

*,
::before,
::after {
    box-sizing: border-box;
}