@use '_base.scss' as *;
@use '_variables.scss' as *;
@use '_mixins.scss' as *;

footer{
    background-color: $color-navy-dark;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    @include mq('l') {
        flex-direction: row;
    }

    min-height: 30vh;
    padding: 1rem;

    p {
        font-size: 0.9rem;
        padding: 1rem;
        color: $color-white;
    }
}