@use '_variables.scss' as *;
@use '_mixins.scss' as *;

.hero__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    min-height: 100vh;
    
    h1 {
        font-size: 3.2rem;
        flex-basis: 50%;
    }

    h1,
    p {
        color: $color-gray;
    }

}

.hero__section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: clamp(3rem, 6vw, 7rem);


    @include mq('l') {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    h1 {
        text-align: left;
    }

    // @include mq('l') {
    //     width: 95%;
    // }


}

.hero__text {
    padding: 2rem;

    h1 {
        font-size: 3.8rem;
        text-align: center;

        @include mq ('l'){
            text-align: left ;
        }
    }

    p {
        font-size: clamp(1rem, 4.5vw, 1.3rem);
    }

}

.hero__button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    height: 15%;
    width: 100%;
    padding: 1rem;

    a {
        color: inherit;
        background-color: $color-terracotta;
        font-weight: 500;
        padding: 1rem;
        text-decoration: none;
        border-radius: 1.5rem;
        border: 2px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        height: 70%;
        width: 45%;
        font-size: 1.5rem;
        cursor: pointer;
    }

    a:nth-last-child(1) {
        background-color: $color-darkpale-red;
    }
}

.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
        height: 80%;
        width: 95%;
        border-radius: 1.5rem;
    }

}

.hero__imgText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16%;
    bottom: 29%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;


    p {
        font-size: 1.5rem;
        color: black;
    }
}