@use '_main.scss' as *;
@use '_mixins.scss' as *;

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    height: 100vh;
    background-color: red;
 
    h1 {
        font-size: 3.2rem;
    }

    @include mq('xl'){
        flex-direction:row;
    }

}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: blue;
    
    h1{
        text-align: right;
    }

    img{
        margin-top: 7rem;
        border-radius: 5px;
        width: 50%;
    }

    @include mq('l'){
        width: 45%;
    }

}