@use '_variables.scss' as *;
@use '_mixins.scss' as *;

header {
    background: linear-gradient(35deg, $color-navy-2, $color-navy);
}

.hero__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    min-height: 95.5vh;

    h1,
    p {
        color: $color-white;
    }

}

.hero__section {
    margin: 4rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10rem;

    @include mq('l') {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 1rem;
    }
}

.hero__text {
    padding: 3rem;

    h1 {
        font-size: 2rem;
        @include mq ('xl'){
            font-size: 3.4rem;
        }
        font-weight: 600;
        letter-spacing: 1px;
        text-align: left;
    }

    p {
        font-size: clamp(1rem, 4.5vw, 1.3rem);
    }

}

.hero__button {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    // flex-wrap: wrap;
    flex-direction: column;
    @include mq('xl'){
        flex-direction: row;
    }
    // background-color: yellow;
    // background-color: rgba(255, 255, 255, 0.1);
    // border-radius: 1.5rem;
    // border: 2px solid rgba(255, 255, 255, 0.3);
    height: 15%;
    width: 100%;
    padding: 1rem;

    a {
        color: $color-white;
        background-color: rgba(255, 255, 255, 0.1);
        font-weight: 500;
        padding: 1rem;
        margin: 1rem;
        width: 45%;
        text-decoration: none;
        border-radius: 2.5rem;
        border: 2px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        font-size: 1.5rem;
        cursor: pointer;
    }

    a:nth-last-child(1) {
        color: $color-navy-dark;
        background-color: $color-terracotta;
    }
}

.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
        // height: 50%;
        width: 85%;
        border-radius: 1.5rem;
    }

}

.hero__imgText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16%;
    bottom: 29%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;


    p {
        font-size: 1.5rem;
        color: black;
    }
}