@use '_variables.scss' as *;
@use '_mixins.scss' as *;

header {
    background: linear-gradient(35deg, $color-navy-2, $color-navy);
    padding: 2.5rem;
    @include mq ('l'){
        padding: 0;
    }
}

.hero__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    min-height: 100vh;

    h1,
    p {
        color: $color-white;
    }

}

.hero__section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @include mq('l') {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 1rem;
    }
}

.hero__text {
    padding: 1rem;
    position: relative;
    top: 5%;
    margin: 1rem;

    @include mq('l') {
        padding: 2rem;
        top: 0;
        margin: 0;
    }

    h1 {
        font-size: 2rem;

        @include mq ('l') {
            font-size: 2.6rem;
        }

        @include mq ('xl') {
            font-size: 3.2rem;
        }

        font-weight: 600;
        letter-spacing: 1px;
        text-align: left;
    }

    p {
        font-size: 1.2rem;
    }

}

.hero__button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;

    @include mq('l') {
        flex-direction: row;
    }

    a {
        color: $color-white;
        background-color: rgba(255, 255, 255, 0.1);
        font-weight: 500;
        padding: 1rem;
        position: relative;
        top: 0.5rem;
        text-decoration: none;
        border-radius: 2.5rem;
        border: 2px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        font-size: 1.5rem;
        cursor: pointer;

        @include mq('l') {
            width: 30%;
            gap: 1.5rem;
        }
    }

    a:nth-last-child(1) {
        color: $color-navy-dark;
        background-color: $color-terracotta;
    }
}

.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.5rem;
    padding: 1rem;

    @include mq('l') {
        top: 0;
    }

    img {
        box-shadow: 0 20px 25px 0px rgba(5, 5, 5, 0.55), 0 0 30px rgba(223, 231, 108, 0.15);
        border-radius: 1.5rem;
        height: 50%;
        width: 80%;
    }

}