.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;

    h1{
        font-size: 3.2rem;
    }

}

.header-content-1, .header-content-2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content-1{
    background-color: blue;  
}


.page-nav {
    background-color: green;
    height: 8%;
    width: 85%;
    position: fixed;
    top: 0;
    z-index: 2;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
        text-align: left;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-size: 2.5rem;
    }

    a{
        font-size: 1.5rem;
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    a:nth-last-child(1){
            width: 150px;
            background-color: red;
        }

}