@use '_mixins.scss' as *;
@use '_variables.scss' as *;

.hero__nav {
    background-color: $color-terracotta;
    height: 8%;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px 0px $color-navy-alpha3;
    position: fixed;
    color: $color-navy;

    @include mq('xl'){
        width: 90%;
        margin-inline: 5%;
        margin-top: 0.7rem;
        border-radius: 1rem;
    }

    .logo {
        text-align: left;

        a {
            color: $color-navy;
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }

    .logo,
    .menu {
        padding: 10px;
        flex-basis: 50%;
    }

    // @include mq('l'){
    .menu{
        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 2rem;
        }
    
        li {
            display: inline;
        }

        a {
            font-size: 1.5rem;
            margin: 1rem;
            padding: 1rem;
            text-decoration: none;
            color: black;
        }
    
        .socials a {
            font-size: 1.5rem;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255);
            color: black;
        }
    }
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 2.3rem;
        cursor: pointer;
    }
}