@use '_mixins.scss' as *;
@use '_variables.scss' as *;

.hero__nav {
    background-color: $color-terracotta;
    top: 0;
    z-index: 2;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);

    @include mq('xl') {
        width: 90%;
        margin-inline: 5%;
        margin-top: 0.7rem;
        border-radius: 1rem;
    }

    .logo {
        justify-content: left;
        align-items: left;

        a {
            color: $color-navy-dark;
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            padding-left: 5%;
        }
    }

    // padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    width: 100%;
    position: fixed;
    // box-shadow: 0 15px 20px rgba(5, 5, 5, 0.55), 0 0 30px rgba(223, 231, 108, 0.15);
}

.logo,
.menu {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__nav-small {
    height: 7%;
    margin-top: 0;
}

.navMenu {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.menu {
    .menu-bar {
        text-align: left;
        position: absolute;
        right: 1.5%;
        bottom: 20%;
        font-size: 2.3rem;
        cursor: pointer;

        @include mq('l') {
            display: none;
        }
    }

    li {
        display: inline;
    }

    ul {
        display: none;

        @include mq('l') {
            display: block;

            .links {
                display: inline-flex;
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                    padding: 1.2rem;
                    text-decoration: none;
                    color: $color-navy-dark;
                }
            }

            ul {
                display: block;
                list-style-type: none;
                gap: 0.9rem;
                margin-right: 5%;
            }

            li {
                list-style-type: none;
            }

            // I am thou, thou art I...
            .social-links {
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

            .socials_circle {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.1);
                border: 2px solid rgba(255, 255, 255, 0.3);
                margin: 1rem;
                font-size: 1.5rem;
                padding: 1rem;
                text-decoration: none;
                color: $color-navy-dark;
            }

            .socials_contact {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                height: 60px;
                width: 140px;
                border-radius: 4.5rem;
                background-color: $color-navy-2;
                border: 1px solid rgba(255, 255, 255, 0.3);
                font-weight: 500;
                margin: 1rem;
                padding: 1rem;
                font-size: 1.5rem;
                text-decoration: none;
                color: $color-gray-2;
            }
        }
    }

}