@use '_mixins.scss' as *;
@use '_variables.scss' as *;

.hero__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: $color-terracotta;
    height: 7.5%;
    width: 100%;
    box-shadow: 0 10px 15px 0px rgba(5, 5, 5, 0.55), 0 0 30px rgba(223, 231, 108, 0.15);
    top: 0;
    z-index: 2;
    transition:0.4s;


    @include mq('xl') {
        width: 95%;
        margin-inline: 2.5%;
        top: 1rem;
        border-radius: 1rem;
    }

    .logo {

        a {
            color: $color-navy-dark;
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            padding-left: 5%;
        }
    }

}

.logo,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.hero__nav-small {
    height: 7%;
    margin-top: 0;
    width: 100%;
    border-radius: 0;
    margin-inline: 0;
    top: 0;
    transition: 0.4s;
}

.navMenu {
    display: flex;
    align-items: center;

    span{
        font-size: 2rem;
        @include mq('l'){
            display: none;
        }
    }
}

.menu {
    .menu-bar {
        text-align: left;
        position: absolute;
        right: 15px;
        bottom: 12px;
        font-size: 2.3rem;
        cursor: pointer;

        @include mq('l') {
            display: none;
        }
    }

    ul {
        display: none;

        @include mq('l') {
            display: block;

                display: inline-flex;
                justify-content: center;
                align-items: center;
                
            a {
                font-size: 1.5rem;
                padding: 1.2rem;
                text-decoration: none;
                color: $color-navy-dark;
            }


            li {
                list-style-type: none;
            }

            .socials_circle, .socials_contact {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                height: 55px;
                width: 55px;
                border-radius: 50%;
                background: linear-gradient(200deg, $color-navy, $color-navy-2);
                border: 2px solid rgba(255, 255, 255, 0.3);
                margin: 1rem;
                font-size: 1.5rem;
                padding: 1rem;
                text-decoration: none;
                color: $color-white;
            }

            .socials_contact {
                height: 55px;
                width: 140px;
                border-radius: 4.5rem;
                font-weight: 600;
            }

            svg{
                color: $color-white;
            }
        }
    }

}