@use '_mixins.scss' as *;
@use '_variables.scss' as *;

.hero__nav {
    background-color: $color-terracotta;
    height: 8%;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px 0px $color-navy-alpha3;
    position: fixed;

    @include mq('xl') {
        width: 90%;
        margin-inline: 5%;
        margin-top: 0.7rem;
        border-radius: 1rem;
    }

    .logo {
        text-align: left;

        a {
            color: $color-navy-dark;
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            padding-left: 5%;
        }
    }


}

.logo,
.menu {
    padding: 10px;
    flex-basis: 50%;
}

.hero__nav-small {
    height: 7%;
    margin-top: 0;
}


.menu {

    // ul {
    //     display: flex;
    //     justify-content: space-evenly;
    //     align-items: center;
    //     padding: 2rem;
    //     margin-right: 5%;
    // }

    // li {
    //     display: inline;
    // }

    // a {
    //     font-size: 1.5rem;
    //     margin: 1rem;
    //     padding: 1rem;
    //     text-decoration: none;
    //     color: black;
    // }

    // .socials_circle {
    //     font-size: 1.5rem;
    //     height: 42px;
    //     width: 42px;
    //     border-radius: 50%;
    //     background-color: rgba(255, 255, 255, 0.1);
    //     border: 2px solid rgba(255, 255, 255, 0.3);
    //     color: black;
    // }

    span {
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        gap: 0.9rem;
        padding: 0;
        margin-right: 5%;

        a {
            font-size: 1.5rem;
            padding: 1rem;
            text-decoration: none;
            color: $color-navy-dark;
        }
    }

    li {
        display: inline;
    }

    .socials_circle {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.3);
        margin: 1rem;

    }

    .socials_contact {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        height: 60px;
        width: 120px;
        border-radius: 1.5rem;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.3);
        color: $color-navy-dark;
        font-weight: 600;
        margin: 1rem;
        padding: 1rem;

    }

    // span {
    //     position: absolute;
    //     right: 1.5%;
    //     top: 20px;
    //     font-size: 2.3rem;
    //     cursor: pointer;
    // }
}