$red-violet: #A6056D;
$amethyst-bloom: #BF11B4;
$maximum-blue-purple: #94A2F2;
$retro-nectarine: #F2811D;
$bloodmist-isle: #921d1d;

$color-navy-dark: #0f2026;
$color-navy: #22403D;
$color-navy-2: #1d4352;
$color-gray: #A6A29F;
$color-gray-2: #cec9c6;
$color-terracotta: #F27A5E;
$color-darkpale-red: #732922;
$color-darkpale-red2: #551711;
$color-white: #ecebeb;

$color-navy-alpha: rgb(82, 103, 128);
$color-navy-alpha2: rgba(30, 42, 56, 0.7);
$color-navy-alpha3: rgba(30, 42, 56, 0.08);
$color-terracotta-alpha: rgb(224, 122, 95, 0.65);
$color-terracotta-alpha2: rgb(224, 122, 95, 0.5);